:root{
    --theme-color: #ec5c2f;
    --font: Menlo, Monaco, "Courier New", monospace;
}
body,html{
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
body,body *{
    box-sizing: border-box;
}
.main-container {
    background-color: #222;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    .title-container {
        padding: 10px 20px;
        display: flex;
        font-weight: bold;
        border-bottom: 1px solid var(--theme-color);
        justify-content: space-between;
        font-family: var(--font);
        .title-item{
            display: flex;
            align-items: center;
            gap: 20px;
            &.right{
                span{
                    color: #fff;
                    font-weight: normal;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    &:hover {
                        text-decoration: underline;
                        color: var(--theme-color);
                    }
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .body-container {
        flex: 1;
        display: flex;
        position: relative;
        .body-assets-container{
            height: calc(100vh - 51px);
            overflow-y: auto;
            width: 200px;
            min-width: 100px;
            background-color: #111;
            padding-top: 10px;
            font-family: var(--font);
            .example-item{
                padding: 10px;
                padding-left: 20px;
                cursor: pointer;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                border-left: 2px solid transparent;
                &.active{
                    color: var(--theme-color);
                    background-color: #1e1e1e;
                    border-left: 2px solid var(--theme-color);
                }
                &:hover{
                    background-color: #222;
                }
            }
            .example-title{
                padding: 10px;
                font-size: 13px;
                color: #aaa;
                background-color: #111;
                margin-bottom: 5px;
                font-weight: bold;
                cursor: auto;
                margin-top: 15px;
                &:first-child{
                    margin-top: 0px;
                }
            }
        }
        .body-code-container{
            display: flex;
            flex-direction: column;
            .editor-title{
                font-family: var(--font);
                background-color: #1e1e1e;
                padding: 10px;
                font-size: 16px;
                padding-left: 20px;
            }
        }
        .drag-bar{
            width: 3px;
            background-color: transparent;
            height: 100%;
            user-select: none;
            cursor: ew-resize;
            transition: background-color .3s linear;
            &.active, &:hover{
                background-color: var(--theme-color)
            }
        }
    }
    .status-container {
    }
}

.body-result-container{
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .result-header{
        display: flex;
        padding: 0 10px;
        font-family: var(--font);
        padding-top: 4px;
        span{
            padding: 5px 15px;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            &.active{
                border-color: var(--theme-color);
                color: var(--theme-color);
            }
        }
    }
    .highlight-container {
        font-family: var(--font);
        white-space: pre;
        font-weight: normal;
        font-size: 14px;
        font-feature-settings: "liga" 0, "calt" 0;
        font-variation-settings: normal;
        line-height: 21px;
        letter-spacing: 0px;
        padding: 10px;
    }
    #App{
        padding: 10px;

        button, input{
            margin: 5px;
            padding: 5px 8px;
            background-color: #eee;
            border: none;
            border-radius: 1px;
            outline: none;
        }
        button{
            cursor: pointer;
        }
        button:active{
            background-color: #ccc;
        }
    }

    #App,.highlight-container{
        height: calc(100vh - 83px);
        background-color: #1e1e1e;
        overflow: auto;
        // flex: 1;
        // width: fit-content;
        min-width: 100%;
    }
}

::-webkit-scrollbar {
    width:5px;
    cursor: pointer;
    height: 5px;
}
::-webkit-scrollbar-button    {
    display: none;
}
::-webkit-scrollbar-track     {
    display: none;
}
::-webkit-scrollbar-track-piece {
    background-color:#88888811;
}
::-webkit-scrollbar-thumb{
    background-color:#88888833;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#88888855;
    cursor: pointer;
}